body {
  font-family: "Roboto", sans-serif;
  color: $font-color;
}
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  border: 0;
}

.h3 {
  font-size: 0.875rem;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  &--white {
    color: #fff;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: left;
  }
}
