.footer {
  background-color: $bg-color-accent2;

  &__container {
    gap: 70px;
    padding: 60px 0;
    align-items: baseline;
  }

  &__part {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 0.875rem;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: #fff;
    list-style-type: none;
  }

  &__newsletter {
    flex: 1 1 auto;
    margin-left: 8px;
  }
}

.newsletter {
  display: flex;
  gap: 0.75rem;
  width: 100%;

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex: 2;
    padding: 15px 16px;
    color: #fff;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.03em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    &:focus {
      border: 1px solid $active-element;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__btn {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
  }
}
