.grid {
  display: flex;
  gap: 1.875rem;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.875rem;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--row {
    flex-direction: row;
  }
}
