.header {
  background-color: $bg-color-main;
  border-bottom: 1px solid #ececec;

  &__container {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 19px 15px;
    }

    @media screen and (min-width: 1200px) {
      padding: 24px 0;
    }
  }

  &__logo {
    flex: 1 1 auto;
  }

  &__nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex: 1 1 auto;
    }

    @media screen and (min-width: 1200px) {
      flex: 3 1 auto;
    }
  }

  &__contact-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      list-style: none;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      flex: 1 1 auto;
      gap: 30px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    line-height: 115%;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__icon {
    margin-right: 10px;
  }
}
