.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 15px;
  max-width: 100%;

  &--bg-accent1 {
    background-color: $bg-color-accent1;
  }

  &__title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 2.25rem;
      line-height: 1.17;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
    padding: 94px 0;
  }
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  &--column {
    flex-direction: column;
    align-items: center;
  }
}
