.navigation {
  display: inline-flex;
  justify-content: space-between;
  gap: 60px;
  list-style: none;

  &__link {
    line-height: 115%;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $font-color;

    &--active {
      position: relative;
      color: $active-element;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $active-element;
        transform: translateY(32px);
        pointer-events: none;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 46px;
  }
}
